EjerciciosXML/Ejercicio3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 
        <xsd:complexType name="tipoPrecioTotal">
            <xsd:sequence>
                <xsd:element name="PrecioTotalSinIva" type="xsd:decimal"/>
            </xsd:sequence>
        </xsd:complexType>



        <xsd:complexType name="Ticket" >
            <xsd:sequence>
                <xsd:element name="CodigoTicket" type="xsd:int" id="Código"/>
                <xsd:element name="FechaYHora" type="xsd:dateTime"/>
                <xsd:element name="PrecioTotal" type="tipoPrecioTotal"/>
            </xsd:sequence> 

        </xsd:complexType>




</xsd:schema>