EjerciciosXML1/dtd/ejercicio2.dtd

<!ELEMENT correosElectornicos (correo+)>
<!ELEMENT correo (remitente, destinatario+, asunto, contenido)>
<!ELEMENT remitente (nombre, direccion)>
<!ELEMENT destinatario (nombre, direccion)>
    <!ATTLIST destinatario principal (SI|NO) #REQUIRED>
<!ELEMENT asunto EMPTY>
<!ELEMENT contenido (#PCDATA)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT direccion (#PCDATA)>
